<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.vens.study.mapper.UserMapper">
    <resultMap id="UserMap" type="com.vens.study.pojo.User">
        <id column="id" property="id"/>
        <result column="user_name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="password" property="password"/>
    </resultMap>
    <select id="getByPhone" parameterType="String" resultMap="UserMap">
		select * from user u where u.phone = #{phone}
	</select>
    <select id="getById" parameterType="String" resultMap="UserMap">
		select * from user u where u.id = #{phone}
	</select>
    <insert id="add" parameterType="com.vens.study.pojo.User" useGeneratedKeys="true" keyProperty="ID">
        insert into user (user_name,password,phone)
        values (#{name},#{password},#{phone})
    </insert>
    <update id="updateUser" parameterType="com.vens.study.pojo.User" >
        update user u set u.user_name=#{name},u.phone=#{phone} where u.id=#{id}
    </update>
</mapper>